{:source-paths ["src"]
 :dependencies [[reagent "0.9.0-rc2"]]
 :foreign-libs [{:file "js/requires.js"
                 :provides nil
                 :module-type :commonjs}]
 :builds {:app {:output-dir "../priv/static/js/"
                :asset-path "."
                :target :browser
                :modules {:app {:init-fn app.main/main!}}
                :devtools {:after-load app.main/reload!}}}}
